/*Google Fonts Here*/
@import url('https://fonts.googleapis.com/css?family=Anton|K2D:300,400,500,700|Roboto:300,400,500,700|Ultra');

/*Main Section Styling*/
.mainbody{
    grid-column: 1/7;
    grid-row: 1/7;
    align-content: center;
    text-align: center;
    display: flex;
    background-color: #83878A;
    box-sizing: border-box;
    border: 1px solid whitesmoke;
}