/*Google Fonts Here*/
@import url('https://fonts.googleapis.com/css?family=Anton|Ultra|Devan&subset=latin-ext');

/*Body Styling*/
*{
    margin: 0;
    padding: 0;
}
#root{
    width: 100%;
    height: 100%;
}
body{
    background: linear-gradient(to bottom, #232526, #414345);
    font-family: 'Anton', sans-serif;
    width: 100%;
    height: 100%;

}
.maincontainer {
    justify-self: center;
    align-self: center;
    height: 100vh;
    width: 100vw;
}
.bodywrapper{
    display: grid;
    height: 80%;
    width: 100%;
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(6,1fr);
}

/*Header Styling*/
.header{
    height: 15%;
    width: 100%;
}
header{
    font-family: 'Bevan',serif;
    font-size: 50px;
    font-weight: bold;
    color: #660000;
    text-shadow: black 3px 3px 3px;
}

/*Navbar Styling*/
.navbar{
    height: 5%;
    width: 100%;
}