/*Google Fonts Here*/
@import url('https://fonts.googleapis.com/css?family=Dosis:600');

/*Movie Section Styling*/
.moviestyle{
    grid-column: 2/6;
    grid-row: 1/6;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #83878A;
    box-sizing: border-box;
    border: 1px solid whitesmoke;
    font-family: Dosis,sans-serif;
}

/*Link Styling*/
a{
    text-decoration: none;
    color: white;
}

/*Image Styling*/
.movietitle{
    display: inline-block;
    padding: 0 36px 36px 36px;
}

/*Title Styling*/
.linkimg{
    width: 195px;
    text-align: center;
}

.moviealign{
    text-align: center;
}

/*Media Styling*/

@media (max-width: 1204px) {
    .movietitle{
        display: inline-block;
        padding: 0 15px 15px 15px;
    }
}
@media (max-width: 1024px) {
    .movietitle{
        display: inline-block;
        align-content: center;
        justify-content: center;
        padding: 0 4px 4px 35px;
    }
    .moviestyle {
        grid-column: 2/7;
        display: flex;
        align-content: center;
        justify-content: center;
    }
}
@media (max-width: 800px) {
    .moviestyle {
        grid-column: 1/7;
        display: flex;
        align-content: center;
        justify-content: center;
    }
}