/*Google Fonts Here*/
@import url('https://fonts.googleapis.com/css?family=Anton|K2D:300,400,500,700|Roboto:300,400,500,700|Ultra');

/*Sidebar Styling*/

.sidebar{
    grid-column: 1/2;
    grid-row: 1/6;
    background-color: #83878A;
    border: 1px solid whitesmoke;
}

