h1{
    text-align: center;
    font-size: 40px;

}
h5{
    text-align: center;
    font-size: 20px;
}

h2{
    background-color: antiquewhite;
    font-size: medium;
    text-align: center;
    margin: 0 40% 0 40%;
    padding: auto;
}
h3{
    background-color: bisque;
    font-size: medium;
    text-align: center;
    margin: 0 40% 0 40%;
}
h5{
    background-color: blanchedalmond;
    font-size: medium;
    text-align: center;
    margin: 0 auto;
}

img {
    align-content: center;
    width: 550px;

}
