.header-box{
    width: 100%;
    height: 100px;
    background-color: #111111;
}
/*header {*/
    /*background-color: #111111;*/
    /*font-family: 'Cookie', cursive;*/
    /*color: white;*/
    /*text-align: center;*/
    /*font-size: 60px;*/

/*}*/
