.header{
    display: inline-block;
    width: 100%;
    position: fixed;
    height: 40px;
    background-color: silver;
    font-family: 'Cookie', cursive;
    text-align: center;
    font-size: 45px;
    padding: 25px;
    color: white;
}

.container {
    display: block;
    padding: 25px;
    margin: 25px;
    border: solid white 2px;
    position: relative;
    left: 89%;
    top: 70px;
}
body{
    margin: 0;
    padding:0;
    background-color: darkgray;
    display: inline-block;
    position: relative;
}
/*Font*/
h1{
    font-family: 'Cookie', cursive;
    color:white;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    margin: 25px;
}
/*Images*/

div.speech{
    padding: 10px;
    float: left;
}