/*General*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #8d908b;
    position: relative;
}

header{
    margin: 35px;
    text-align: center;
    float: inside;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    font-size: 75px;
    text-shadow: 2px 2px dimgrey;
}

/*Navigation*/

.navbar {
    background-color: grey;
    position: fixed;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    margin: 10px;
}


.navbar ul{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-weight: lighter;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
}
a:hover{
    color: white;
}
/*Paragraphs*/
span{
    float: left;
    width: 0.7em;
    font-size: 400%;
    font-family: 'muli', sans-serif;
    line-height: 80%;
    color: white;
}
h1{
    margin: 120px 0 0 0;
    font-size: 20px;
    font-weight: bold;
    font-family: 'muli', sans-serif;
}

/*Images*/

div.random{
    display: flex;
    justify-content: center;
    width: 30%;
    transform: translateX(8%);
    float: left;
    margin: 18px;
    padding: 15px;
}
div.blog{
    display: flex;
    justify-content: left;
    width: 30%;
    float: left;
    padding: 45px;
    margin: 25px;
}
/*Writing*/

p{
    font-size: 20px;
    font-weight: bold;
    font-family: 'muli', sans-serif;
}
h1{
    font-size: 20px;
    font-weight: bold;
    font-family: 'muli', sans-serif;
}